# Public web config
NEXT_PUBLIC_PROGRAM_ID=DUnfGXcmPJgjSHvrPxeqPPYjrx6brurKUBJ4cVGVFR31
NEXT_PUBLIC_CLUSTER=devnet
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_JUPITER_RPC_ENDPOINT=https://api.mainnet-beta.solana.com

# Server-only config
GROQ_API_KEY=
